/* these are minimum required custom css */
#search {
  border-radius: 0 5px 5px 0;
  background: #443DF5;
  border: 2px solid #443DF5;
  border-left: none;
}
#search-icon {
  color: white;
}

#search-bar {
  border-radius: 5px 0 0 5px;
  border: 2px solid #443DF5;
}

#search-bar::placeholder {
  color: rgba(51, 51, 51, 0.5);
  font-size: 90%;
}
.nav-link {
  color: #333 !important;
}

.nav-link:hover {
  text-decoration: underline;
}

li {
  padding-right: 3em;
}

.navbar-brand h1 {
  color: #443DF5;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}
/* SOME STYLES FOR THE IMAGES */
.image {
  width: 30rem;
  border-radius: 10px;
}
.hotsite{
width:20rem;
border-radius:7px;
margin-left: 10px ;
}
.hotsite-container{
  background-color:#443DF5; 
}
.eiffel-tower{
  height: 20rem;
  width: 18rem;
  }
.golden-eye{
    margin-top: 9rem;
    padding: 1rem;
  }
.book-btn{
  color: #000;
  background-color: aliceblue;
  border-radius: 20px;
  font-weight: bolder;
  margin: 2rem;
}
.bookbtn{
  background-color: #443DF5;
  border-radius: 25px;
  color: aliceblue;
  font-weight: bold;
}

.happy-man{
height: 14rem
}
/* HOT DEALS */
.card-img-top{
  height:15rem;
  border-radius: 10px;
}
.hotdeals{
  border: none;
}


/* STYLING FOR THE GRAY AREA JUST BELOW THE HOT DEALS */
.more{
  background-color:rgb(219, 219, 201) ;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}
.morebtn{
  border-radius: 15px;
  margin-left: 45%;
  margin-top: 1.5rem;
  border: 1px solid  rgb(165, 165, 162) ;
}
/* TESTIMONIES */
.flag{
  height:1rem;
  width:1rem;
  border-radius: 5px;
}
.card-img-bottom{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.testimonies{
  background-color:rgb(219, 219, 201) ;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 6rem;
}
.testimony-card{
  height: 8rem;
}
/*SIMPLE STYLES FOR THE FOOTER */
footer {
  color: white;
  background-color: #443DF5;
}

#footer-head {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}

footer h5 {
  font-size: 90%;
}

footer a {
  color: white;
  font-size: 80%;
  margin-top: .7em;
  padding: .5em;
}

footer a:hover {
  color: #443DF5;
  background-color: white;
  text-decoration: none;
}

footer p {
  padding: 0 !important;
  margin: 0 !important;
}

.fa-twitter, .fa-facebook-f, .fa-instagram {
  margin-left: .6em;
}

.fa-twitter:hover, .fa-facebook-f:hover, .fa-instagram:hover {
  color: #333;
}

#copyright {
  background-color: #333;
  color: white;
  font-size: 80%;
}
/* FANCY TEXT */
.fancy-text{
  color: #443DF5;
}
/* MEDIA QUERIES TO IMPROVE SITE RESPONSIVENESS */
@media (max-width: 800px) {
  
.image {
  border-radius: 10px;
}
.hotsite{
width:20rem;
border-radius:7px;
margin-left: 10px ;
}
.hotsite-container{
  background-color:#443DF5; 
}

 .eiffel-tower{
  width:20rem;
  border-radius:7px;
  margin-left: 10px ;
  margin-top: 3rem;
  padding: 0rem;

  }
  .golden-eye{
    width:20rem;
  border-radius:7px;
  margin-top: 3rem;
  padding: 0rem;
  }
  .testimony-card{
    height: 8rem;
    margin-top: 3rem;
  }
}
@media (max-width: 360px) and (min-width: 800px){
  .testimony-card{
    height: 8rem;
    margin-top: 4rem;
  }
}
  